/* ==================================================================================================================== estilos gerais */

body{
  background: #EDEDED;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto;
}
h3,ul,p{
  margin: 0px;
}
img{
  max-width: 100%;
  display: block;
}
article{
  background: #5287DD;
}
/* ======================================================================================================================= estilos header */

.grid1{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
.idioma{
  grid-column: 2;
  display: flex;
  place-items: center;
  gap: 10px;
  justify-content: center;
  height: 75px;
  align-items: center;
  margin-left: 750px;
}
.idioma h2{
  font-size: 18px;
  line-height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}
.idioma a{
  font-size: 18px;
  line-height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: #2B2B2B;
  margin: 0;
  padding: 0;
}

/* ========================================================================================================== estilos section ou estilos main */

.grid-23{
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom,#ededed 0, #EDEDED 57.0%, #5287DD 55%);
}
.imagem2-fixed{
  position: relative;
  top: -1200px;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.imagem2{
  max-width: 100%;
  position: absolute;
  left: 818px;
  top: 940px;
}
.texto-img1{
  display: grid;
  grid-template-columns: auto;
}
.imagem1MOBILE{
  display: none;
}
.imagem2MOBILE{
  display: none;
}
.imagem1{
  margin-left: 137px;
  max-width: 100%;
}
.texto-img1 p{
  max-width: 570px;
  font-family: 'Dosis',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-left: 137px;
  color:  #2B2B2B;
  margin-top: 25px;
  margin-right: 55px;
  height: 74px;
}
.texto-img1 h3{
  font-family: 'Dosis',sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #5287DD;
  margin-left: 137px;
  margin-top: 25px;
}
.texto-img1 ul {
  font-family: 'Dosis',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-left: 137px;
  margin-top: 8px;
  margin-bottom: 61px;
}
.texto-img1 strong{
  font-weight: 700;
} 

/* ======================================================================================================================= estilos article */

 .grid3{
 display: grid;
 grid-template-columns: 1fr 1fr;
}
.grid3-iniciativa{
  width: max-content;
  grid-column: 1;
  margin-left: 137px;
  height: 475px;
}
.grid3-iniciativa h1{
  max-width: 570px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 68px;
  line-height: 62px;
  color: #FFFFFF;
  margin-bottom: 32px;
  margin-right: 30px;
  padding-top: 95px;
  word-wrap: break-word;
}
.grid3-iniciativa p{
  max-width: 470px ;
  font-family: 'Dosis',sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  word-wrap: break-word;
  margin-right: 100px; 
} 

/* ========================================================================================================================= section 2 */

.grid4{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.flex1{
  display: flex;
 margin: 0px;
 justify-content: end;
 margin-right: 60px;
}
.grid4-intercambio{
  width: max-content;
  justify-content: center;
}
.grid4-intercambio h1{
  max-width: 570px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 68px;
  line-height: 62px;
  color: #2B2B2B;
  padding-bottom: 32px;
  padding-top: 81px;
}
.grid4-intercambio p{
  max-width: 528px;
  font-family: 'Dosis',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #2B2B2B;
  padding-bottom: 32px;
}
.grid4-intercambio h2{
  max-width: 599px;
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 62px;
  background-color: #5287DD;
  color: #EDEDED;
  border: 3px solid;
  margin: 0 0 18px 0;
  text-align: center;
  border-radius: 8px;
}
.grid4-intercambio a {
  max-width: 197px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
  margin: 0 0 132px 0;
}
.grid4-imagem {
  max-width: 500px;
  padding: 61px 206px 97px 50px;
}

/* ===================================================================================================================== section final */

.inscricao{
  background-color: #5287DD;
  height: 378px;
  display: grid;
  place-items: center;
  text-align: center;
  justify-content: center;
}
.inscricao h1{
  font-style: normal;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 68px;
  line-height: 62px;
  margin-top: 80px;
  margin-bottom: 32px;
  color: #FFFFFF;
  width: 500px;
  height: 124px;
  word-wrap: break-word;
}
.inscricao a{
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 62px;
  text-decoration: none;
  width: 314px;
  height: 62px;
  border-radius: 8px;
  background-color: #5287DD;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  text-align: center;
  justify-items: center;
  margin-bottom: 80px;
}

/* ========================================================================================================================== footer */

footer{
  height: 164px;
}
.footer-lista{
  display: flex;
  justify-content: center;
}
.footer{
  display: grid;
  place-items: center;
}
.apoio{
  display: flex;
  gap: 28px;
  align-items: center;
}
.apoio p{
  font-family: 'Dosis',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.realizacao{
  display: flex;
  gap: 28px;
  padding-right: 120px;
  align-items: center;
}
.realizacao p{
  font-family: 'Dosis',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

/*=============================================================================================================== botão do idioma*/

a.active{
  background: #EDEDED;
  width: 37px;
  height: 37px;
  border: 1px solid #2B2B2B;
  border-radius: 50%;
  box-shadow: 2px 2px;
  text-align: center;
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media(max-width: 1340px) {
  .idioma{
    margin-left: 400px;
  }
  .grid-23{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    text-align: center;
    justify-content: center;
  }
  .texto-img1{
    display: grid;
    grid-template-columns:  auto;
    align-items: center;
  }
  .texto-img1 p{
    margin: 0 0 25px 0;
    place-items: center;
    max-width: 570px;
  }
  .texto-img1 h3{
    margin: 0 0 25px 0;
  }
  .texto-img1 ul{
    margin: 0 0 61px 0;
  }
  .imagem1{
    margin: 0 0 25px 0;
  }
  .imagem2{
    display: none;
  }
  .grid2{
    display: grid;
    grid-template-columns: auto;
  }
  .grid4-imagem{
    grid-column: 2;
    margin: 0;
    padding: 0px;
  }
  .grid4{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 81px 0 132px 0;
  }
  .flex1{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: 0;
  }
  .grid3{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0;  
  }
  .grid3-iniciativa{
    margin: 0;
  }
  .grid3-iniciativa h1{
    margin-right: 0px;
  }
  .grid3-iniciativa p{
    margin: 0 50px 0 50px;
  }
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media(max-width: 1140px) {
  .idioma{
    margin-left: 400px;
  }
  .grid-23{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0;
  }
  .texto-img1{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
  }
  .texto-img1 p{
    margin: 0 0 25px 0;
    text-align: center;
  }
  .texto-img1 h3{
    text-align: center;
    margin: 0 0 25px 0;
  }
  .texto-img1 ul{
    text-align: center;
    margin: 0 0 61px 0;
  }
  .imagem1{
    margin: 0 0 25px 0;
  }
  .imagem2{
    display: none;
  }
  .grid2{
    display: grid;
    grid-template-columns: auto;
  }
  .grid4-imagem{
   grid-column: 1;
   grid-row: 1;
  }
  .grid4{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin: 81px 0 132px 0;
  }
  .flex1{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
    margin: 0;
    text-align: center;
  }
  .grid4-intercambio h2{
    margin: 0;
    align-content: center;
  }
  .grid4-intercambio p{
    max-width: 570px;
    margin: 0px;
  }
  .grid4-intercambio h2{
    max-width: 570px;
  }
  .grid3{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0;  
  }
  .grid3-iniciativa{
    text-align: center;
    align-items: center;
    margin: 0;
  }
  .grid3-iniciativa h1{
    margin-right: 0px;
  }
  .grid3-iniciativa p{
    max-width: 570px;
    margin: 0px;
  }
  .realizacao{
    padding: 0px 20px 0 0;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media(max-width: 600px) {
   
 body{
  max-width: 600px;
  display: grid;
  place-items: center;
  margin: 0;
 }
.grid1{
  max-width: 600px;
  margin: 0px;
}
header{
  max-width: 600px;
  margin: 0px;
}
  .idioma{
    height: 120px;
    gap: 15px;
    grid-template-columns: auto auto auto;
    max-width: 600px;
    margin: 0px 0px 0px 200px;
  }
  .idioma h2{
    font-size: 24px;
    line-height: 27px;
  }
  .idioma a {
    font-size: 24px;
    line-height: 27px;
    padding: 10px;
  }
  .grid-23{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0;
    max-width: 600px;
    background-image: linear-gradient(to bottom,#ededed 0, #EDEDED 73.2%, #5287DD 55%);
    height: auto;
  }
  .texto-img1{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    max-width: 600px;
    margin: 0px;
  }

  .texto-img1 p{
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    margin: 0px 15px 90px 15px;
    max-width: 600px;
  }
  .texto-img1 h3{
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    font-weight: 900;
    max-width: 600px;
    margin: 0px 15px 15px 15px;
  }
  .texto-img1 ul{
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    max-width: 600px;
    margin: 0px 15px 30px 15px;
  }
  .texto-img1 strong{
    font-weight: 900;
  } 
  .texto-img1 li{
    max-width: 600px;
  }
   .imagem1{
    display: none;
   }
  .imagem2{
    display: none;
  }
  .imagem2MOBILE{
    display: inline;
    max-width: 600px;
    margin: 0px 21px 30px 15px;
   }
   .imagem1MOBILE{
     display: inline;
    max-width: 600px;
    margin: 0px 0px 30px 30px;
   }
 
  .grid2{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 0px;
  }
  .grid4-imagem{
   grid-column: 1;
   margin: 0px;
   max-width: 600px;
  }
  .grid4{
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin: 0px;
  }
  .flex1{
    max-width: 600px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
    margin: 0;
    text-align: center;
  }
  .grid4-intercambio{
    max-width: 600px;
    margin: 0px;
    justify-content: center;
    height: 580px;
  }
  .grid4-intercambio h1{
    max-width: 600px;
    font-size: 65px;
    line-height: 60px;
    margin:  0 0 35px 0;
    padding: 0px;
  }
  .grid4-intercambio h2{
    max-width: 480px;
    font-size: 35px;
    line-height: 38px;
    align-content: center;
    margin: 0px 80px 18px;
    padding: 10px 45px;
    border-radius: 15px;
  }
  .grid4-intercambio p{
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    max-width: 600px;
    margin: 0px 15px 32px 15px ;
    padding: 0px;
    }
  .grid4-intercambio a{
    margin: 60px;
    font-size: 27px;
    line-height: 33px;
  }
  .grid4-imagem{
    margin: 65px 0px 56px 0px;
    max-width: 600px;
  }
  .inscricao{
    height: 650px;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 600px;
    font-size: 30px;
    margin: 0px;
    place-content: center;
  }
  .inscricao h1{
    font-size: 69px;
    line-height: 70px;
    max-width: 600px;
    margin: 0px 0px 140px 0px;
    height: 50px;
  }
  .inscricao a{
    max-width: 600px;
    font-size: 27px;
    margin: 0px;
    margin: 0px 80px 18px;
    padding: 18px 70px;
    border: 4px solid #FFFFFF;
    
  }
  .grid3{
    max-width: 600px;
    display: grid;
    height: 870px;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0px;  
  }
  .grid3-iniciativa{
    text-align: center;
    align-items: center;
    margin: 0px;
    max-width: 600px;
    height: 0px;
  }
  .grid3-iniciativa h1{
    text-align: center;
    max-width: 600px;
    font-size: 80px;
    line-height: 70px;
    margin: 0px 15px 30px 15px;
    padding-top: 130px;
  }
  .grid3-iniciativa p{
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    max-width: 600px;
    margin: 0px 16px 120px 16px;
  }
  .footer {
    height: 350px;
    max-width: 600px;
    gap: 0px;
  }
  .realizacao{
    display: grid;
    grid-template-columns:auto auto auto;
    place-content: center;
    column-gap: 50px;
    row-gap: 15px;
    max-width: 600px;
  }
  .realizacao p {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    grid-column: 1/-1;
    max-width: 600px;
    margin: 0px;
  }
  .apoio{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    justify-content: center;
    margin: 30px 0 30px 0;
    max-width: 600px;
    margin: 0px;
  }
  .apoio p {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    grid-column: 1/-1;
    margin: 0px;
    max-width: 600px;
  }
.itaipu{
  margin-right: 30px;
}
  .footer-lista{
    max-width: 600px;
    display: grid;
    margin: 0px;
    gap: 40px;
  }
}
